body{
    font-family: 'Merriweather', serif;
    font-size: 23px;
    color: snow;
    background-color: pink 50% orange 50%;
    margin: 23px;   
    background-color: lig;
    width: 100%;
    background-image: url('./Fundo.jpg');
    background-repeat: initial;
    background-size: cover;
    background
    


}

table{
    border: 3px;
    border-radius: 3px;
    border-color: whitesmoke;
    border-style: double;
    border-spacing: 20px;
    margin: 70px;
    
    
}

a{
    color: whitesmoke;

}
img{
    border: 3px;
    border-radius: 3px;
    border-color: whitesmoke;
    border-style: double;
    border-spacing: 20px;
    margin: 0px;
    border
    max-width: 100%;
    
}

td{
    text-align: center;

}